@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/barlowcondensed-bold.woff2) format("woff2");
}

:root {
  --ff-base: "helvetica neue", helvetica, arial, sans-serif;
  --ff-accent: "barlow condensed", sans-serif;

  --clr-light: #fff;
  --clr-lightish: #efefef;
  --clr-dark: #333;
  --clr-darkish: #666;

  --step-0: clamp(1.00rem, calc(0.82rem + 0.89vw), 1.63rem);
  --step-1: clamp(1.20rem, calc(0.85rem + 1.77vw), 2.44rem);
  --step-2: clamp(1.44rem, calc(0.81rem + 3.17vw), 3.66rem);
  --step-3: clamp(1.73rem, calc(0.65rem + 5.37vw), 5.48rem);

  --space-3xs: clamp(0.25rem, calc(0.20rem + 0.27vw), 0.44rem);
  --space-2xs: clamp(0.50rem, calc(0.41rem + 0.45vw), 0.81rem);
  --space-xs: clamp(0.75rem, calc(0.61rem + 0.71vw), 1.25rem);
  --space-s: clamp(1.00rem, calc(0.82rem + 0.89vw), 1.63rem);
  --space-m: clamp(1.50rem, calc(1.23rem + 1.34vw), 2.44rem);
  --space-l: clamp(2.00rem, calc(1.64rem + 1.79vw), 3.25rem);
  --space-xl: clamp(3.00rem, calc(2.46rem + 2.68vw), 4.88rem);
  --space-2xl: clamp(4.00rem, calc(3.29rem + 3.57vw), 6.50rem);
  --space-3xl: clamp(6.00rem, calc(4.93rem + 5.36vw), 9.75rem);
  --space-4xl: clamp(8.00rem, calc(6.57rem + 7.14vw), 13.00rem);
  --space-3xs-2xs: clamp(0.25rem, calc(0.09rem + 0.80vw), 0.81rem);
  --space-2xs-xs: clamp(0.50rem, calc(0.29rem + 1.07vw), 1.25rem);
  --space-xs-s: clamp(0.75rem, calc(0.50rem + 1.25vw), 1.63rem);
  --space-s-m: clamp(1.00rem, calc(0.59rem + 2.05vw), 2.44rem);
  --space-m-l: clamp(1.50rem, calc(1.00rem + 2.50vw), 3.25rem);
  --space-l-xl: clamp(2.00rem, calc(1.18rem + 4.11vw), 4.88rem);
  --space-xl-2xl: clamp(3.00rem, calc(2.00rem + 5.00vw), 6.50rem);
  --space-2xl-3xl: clamp(4.00rem, calc(2.36rem + 8.21vw), 9.75rem);
  --space-3xl-4xl: clamp(6.00rem, calc(4.00rem + 10.00vw), 13.00rem);

  --grid-gutter: var(--space-s-m, clamp(1.00rem, calc(0.46rem + 2.73vw), 3.00rem));
}

*,
:after,
:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--clr-dark);
  font-family: var(--ff-base);
  font-size: var(--step-0);
  background: var(--clr-lightish);
}

a,
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  line-height: 1.1;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

article ul,
article ol {
  padding-left: 1.5rem;
}

article li + li {
  margin-top: var(--space-s);
}

/* Layout components */

.l-grid {
  display: grid;
  gap: var(--grid-gutter);
}

.grid-hero {
  grid-template: "container";
  place-items: center;
  place-content: center;
  overflow: hidden;
  text-align: center;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.grid-hero > * {
  grid-area: container;
}

.grid-hero h1 {
  z-index: 10;
}

@media all and (min-width: 50rem) {
  .grid-2up {
    grid-template-columns: 1fr 1fr;
  }
  
  .grid-3up {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img-grid {
    grid-template-columns: repeat(3, auto);
    aspect-ratio: 3 / 2;
  }

  .img-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
  }

  .img-grid img:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .img-grid img:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
  }

  .img-grid img:last-of-type {
    grid-column: 1 / -1;
  }
}

.card {
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--clr-light);
  position: relative;
}

.card a {
  text-decoration: none;
}

.card img {
  width: 100%;
}

.card p {
  padding: var(--space-s);
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: 55ch;
  padding-inline: var(--space-s);
}

.center-grid {
  display: grid;
  grid-template-columns: 1fr min(55ch, 100%) 1fr;
  padding-inline: var(--space-s);
}

.center-grid > * {
  grid-column: 2;
}

.flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-xs);
  align-items: center;
}

.grid {
  display: grid;
  grid-gap: var(--space-s);
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}

section h2,
section h3 {
  text-align: center;
}

section h2 {
  text-transform: uppercase;
}

section h3 {
  color: var(--clr-darkish);
  font-size: var(--step-0);
}



/* Utility classes */

.flow > * + * {
  margin-top: var(--space-s);
}

.flow h2,
.flow h3 {
  margin-top: var(--space-l);
}

.flow-s {
  margin-top: var(--space-s);
}

.flow-l {
  margin-top: var(--space-l);
}

.flow-xl {
  margin-top: var(--space-xl);
}

.wrapper {
  max-width: 100rem;
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.region {
  margin-top: var(--space-xl-2xl);
}

/* Allow images to stretch wider than text */
.full-bleed {
  width: 100%;
  grid-column: 1/-1;
}

.text-center {
  text-align: center;
}

.white-space {
  margin-block: var(--space-xl);
}

/* Block Elements */

/* See through text on hero image */
.glass-text { 
  color: rgb(255, 255, 255, 60%);
  text-transform: uppercase;
  font-size: var(--step-3);
}

/* Add spacing around header */
.main-header {
  margin-block: var(--space-s);
}

/* Nav text styles */
.nav-list * {
  font-family: var(--ff-accent);
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

/* Call to action styles */
.cta { 
  padding-block: var(--space-s);
  padding-inline: var(--space-m);
  border-radius: 0.5em;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: var(--step--0);
  font-weight: 700;
}

/* Moving quote box on top of image */
.quote {
  margin-inline: var(--space-s);
  margin-top: calc(var(--space-xl)*-1);
}

/* Add styles to footer */
.invert-color {
  color: var(--clr-light);
  background: var(--clr-dark);
  width: 100%;
  padding-block: var(--space-l);
}
