---
layout: layouts/base.njk
---
  <article class="center-grid flow">
    <h1 class="text-center white-space">{{ title }}</h1>
    {{ content | safe }}
  </article>
  {% include "partials/_pagination.njk" %}

