---
layout: layouts/base.njk
permalink: /bikes/
title: Bikes
metaDesc: Check out custom steel hardtails, gravel, and all-road bikes.
type: website
---

<article class="wrapper">
  <h1 class="text-center white-space">{{title}}</h1>
  <div class="l-grid grid-3up flow-s">
    {% for post in collections.bikes %}
      {% include "partials/_card.njk" %}
    {% endfor %}
  </div>
</article>