---
layout: layouts/base.njk
title: Manzanita Cycles
metaDesc: Custom steel bike frames for your next adventure
type: website
---

<section class="l-grid grid-hero">
  <h1 class="glass-text">Custom steel bike frames<br />for your next adventure</h1>
  <img data-blink-uuid="ded5de21-93cd-4f27-9063-d4b290331f2a" alt="Loaded bikepacking bike in Nevada" width="3000" height="2005">
</section>

<section class="region wrapper">
    <h2>Bikes</h2>
    <h3>{{ bikes.intro }}</h3>
    <div class="l-grid grid-3up flow-s">
        {% for post in collections.bikes %}
          {% include "partials/_card.njk" %}
        {% endfor %}
    </div>
</section>

<section class="region wrapper">
    <h2>Manzanita love</h2>
    <h3>I swear these customers weren't bribed</h3>
    <div class="l-grid grid-3up flow-s">
    {% for quote in quotes %}
        {% include "partials/_quotes.njk" %}
    {% endfor %}
    </div>
</section>

<section class="region wrapper">
  <h2>From the blog</h2>
  <h3>Build reviews, trip reports, and opinion pieces</h3>
  <div class="l-grid grid-3up flow-s">
    {% set latest_posts = collections.blog | reverse %}
    {% for post in latest_posts.slice(0,3) %}
      {% include "partials/_card.njk" %}
    {% endfor %}
  </div>
  <p class="text-center flow-l"><a class="cta" href="/blog">View all posts</a></p>
</section>