<div class="card">
  <a href="{{ post.url }}">
    <img data-blink-uuid="{{ post.data.featuredImage }}" alt="{{ post.data.alt }}" width="900px" height="600px">
    <p>{{ post.data.title }}</p>
  </a>
</div>