<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Styles -->
	{% set css %}{% include "css/styles.css" %}{% endset %}
	<!-- feed it through our cssmin filter to minify -->
	<style>{{ css | cssmin | safe }}</style>
	<!-- SEO -->
	{% include "partials/_meta.njk" %}
	<!-- UploadCare -->
	<script>
		(function(src, cb) {
			var s = document.createElement('script'); s.setAttribute('src', src);
			s.onload = cb; (document.head || document.body).appendChild(s);
		})('https://ucarecdn.com/libs/blinkloader/3.x/blinkloader.min.js', function() {
			window.Blinkloader.optimize({
			pubkey:'21df02fb16487b7a19c8',
			fadeIn:false,
			lazyload:true,
			smartCompression:true,
			responsive:true,
			retina:true,
			webp:true
			});
		})
	</script>
</head>