<div>
    <img class="card" data-blink-uuid="{{ quote.img }}" alt="{{ quote.alt }}">
    <blockquote class="card quote" cite="{{ quote.cite }}">
        <p><em>{{ quote.text }}</em></p>
        <p><strong>{{ quote.name }}</strong></p>
    </blockquote>
</div>