<figure>
    {% if quote.img %}
        <img data-blink-uuid="{{ quote.img }}" alt="{{ quote.alt }}">
    {% endif %}
    <blockquote cite="{{ quote.cite }}" class="flow-s">
        <p>&ldquo;{{ quote.text }}&rdquo;</p>
        <p class="flow-s"><strong>{{ quote.name }}</strong></p>
    </blockquote>
</figure>